:root {
	--logo-color: #e87007;
	--text-color: #191919;
	--max-content-width: 50em;
}

body {
	font-family: Helvetica;
	/*font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;*/
	font-size: 15px;
	line-height: 1.62;
	color: var(--text-color);
	font-weight: 400;
}
/*ff4d3dff*/
#navbar {
	margin: 0 auto;
	max-width: var(--max-content-width);
	border-bottom: 1px solid var(--text-color);
}

#navbar ul {
	width: calc(var(--max-content-width)*(15/50));
	padding: 0;
	margin: 1em 0;
	font-size: 18px;
	display: flex;
	list-style: none;
	justify-content: space-between;
}

#navbar ul li a {
	border: none;
}

#logo {
	border: none;
}

#logo:hover {
	margin: 0;
	padding: 0;
	background-color: transparent;
}

#logo svg {
	width: 10em;
	height: 10em;
	fill: var(--logo-color);
	stroke: var(--logo-color);
}

#logo:hover svg {
	fill: black;
	stroke: black;
}

#content {
	margin: 0 auto;
	max-width: var(--max-content-width);
}

#footer {
	border-top: 1px solid var(--text-color);
	margin: 2em auto;
	width: var(--max-content-width);
	height: 20em;
}

#title {
	margin-bottom: 0;
	line-height: 1.2;
}

#date {
	margin-top: 0;
}

.i_text {
	font-weight: normal;
	font-style: italic;
}

.b_text {
	font-weight: bold;
	font-style: normal;
}

.bi_text {
	font-weight: bold;
	font-style: italic;
}

.code {
	border: 1px solid var(--text-color);
	border-radius: 2px;
	margin: 1em 0;
	padding: 0.25em 0.75em;
	white-space: pre-wrap;
	font-family: monospace;
	tab-size: 4;
	-moz-tab-size: 4;
}

.code_keyword {
	color: var(--text-color);
	font-weight: bold;
}

.code_number {
	color: var(--text-color);
	font-weight: bold;
}

.code_bool {
	color: var(--text-color);
	font-weight: bold;
}

.code_comment {
	color: #998;
}

.code_hi_comment {
	color: #887;
	font-weight: bold;
}

.code_err_comment {
	color: var(--text-color);
	font-weight: bold;
}

.code_todo {
	color: var(--text-color);
	font-weight: bold;
}

.code_note {
	color: var(--text-color);
	font-weight: bold;
}

a {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font-weight: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--text-color);
}

a:hover {
	padding: 0.25em;
	margin: -0.25em;
	color: white;
	background-color: black;
	border: none;
	text-decoration: none;
}
